#maincontent {
  margin-top: 50px;
  font-family: Alike Angular, Trebuchet MS;
  color: #ebe6f7;
  /* background-color: #071540;*/
  background-image: url("others/main-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
  height: 900px;

}

h1 {
  margin-bottom: 40px;
  margin-top: 40px;
  color: #f28705;
  font-size: 46px;
  font-weight: bold;

}

h4,
h6 {
  color: #f28705;
}

button {
  margin-top: 20px;
  margin-bottom: 20px;
}



.card {
  height: 80px;
}

#TopCard {

  height: 110px;
}

#Drawpile {

  height: 110px;
  align-self: flex-end;
}

#Drawpile:hover {
  transform: scale(1.2);
  cursor: grab;
}

#Player2_name_and_cards {
  margin-top: 50px;
}

#Player4_name_and_cards {
  margin-top: 45px;
}

.card:hover {
  transform: scale(1.2);
  cursor: grab;
}

.shake {
  animation: move 1s ease-in;
}

.pointer {
  margin-left: 10px;
  height: 35px;
  animation: bounce 2s infinite;
}

.hidden {
  visibility: hidden;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
}

.GameTitle {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 25px;
}

#name_score_3 {
  margin-top: 127px;
}

.thirdCol {
  padding-top: 275px;
}

/* style für Animation - Rotate Direction.img */
.rotateContainer {
  width: 200px;
  height: 175px;
  overflow: hidden;
  position: relative;
}

#directionImg {
  
  height: 175px;
  transition: transform 0.5s ease-in-out;
}

.rotated {
  transform: rotate(720deg);
}


/* Ende - style für Animation - rotate direction.img */
.middlePlayerRow {
  
  min-height: 277px;
  max-height: 277px;

}

.gap-15 {
  gap: 15px;
}

@keyframes move {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }

  40% {
    transform: translateX(30px);
  }

  60% {
    transform: translateX(15px);
  }
}

/*  @keyframes spin-right {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin-left {
    100% {
      transform: rotate(-360deg);
    }
  }
  */
.color-buttons {
  margin-left: 30px;
}

.cardplayed {
  transform: scale(1.2);
  /* or any other transform property */
  transition: transform 0.5s ease;
  /* specify the transition property */
}

#startbutton {

  display: inline-block;
  padding: 10px 20px;
  background-color: #f74c69;
  /* Bright red color */
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#startbutton:hover {
  background-color: #af2f44;
}

#helpbutton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f74c69;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#helpbutton:hover {
  background-color: #af2f44;
}

#player3column{
  margin-top: 40px;
}
.custom-modal .modal-content {
  background-color: #f0f0f0;
  border: 2px solid #333;
  border-radius: 10px;
}

#helpModal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  
  width: 80%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.close {
  color: #071540;
  float: right;
  font-size: 48px;
  cursor: pointer;
}
.modal-body {
  display: block;
}
.tab {
  overflow: hidden;
}
.tab button {
  background-color: #ccc;
  float: left;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
}
.tab button:hover {
  background-color: #ddd;
}
.tabcontent {
  display: none;
}